# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
build/
*.c

.idea
venv/
.mypy_cache
*.log


# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# main
main.py

# databases
*.db

# secrets
*.env
